*.iml
.gradle
/local.properties
/.idea
.idea/
.DS_Store
/build
/captures
.externalNativeBuild

/apk
/production
/stage
/app
/gradle/wrapper/gradle-wrapper.properties
/adb/adb.exe
/adb/AdbWinApi.dll
/adb/AdbWinUsbApi.dll
/gradle/wrapper/gradle-wrapper.jar
/adb/AdbWinUsbApi.dll

