<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Teachers.HaziraKhataByGk">

    <uses-permission android:name="ANDROID.PERMISSION.INTERNET" />
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/main_icon_hd_half"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden|adjustPan">

        <!-- for FB LOGIN -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <!-- for FB LOGIN -->

        <activity
            android:name=".Login.LoginActivity"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppThemeForNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity
            android:name=".ClassAddActivity"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity
            android:name=".ClassRoomActivity"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity android:name=".AttendanceActivity">

            <!-- android:theme="@style/AppThemeForNoActionBar"> -->
        </activity>
        <activity
            android:name=".StudentListShowActivity"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity
            android:name=".PrinterActivity"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity
            android:name=".StudentAddActivity"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity android:name=".StudentAlIInfoShowActiviy" />
        <!-- android:theme="@style/AppThemeForNoActionBar" -->

        <activity
            android:name=".NoteAddActivity"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity
            android:name=".Scheduler.scheduleActivity"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity
            android:name=".Scheduler.AddToDoActivity"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity
            android:name=".Scheduler.ReminderActivity"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity
            android:name=".Widget.TextShowActivity"
            android:label=""
            android:theme="@style/style_for_text_content" />
        <activity
            android:name=".PreviousQuestionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Browsing.BrowsingActivity"
            android:theme="@style/AppTheme.NoActionBarForBrowser" />
        <activity android:name=".BlogActivity" />

        <service android:name=".Scheduler.TodoNotificationService" />
        <service android:name=".Scheduler.DeleteNotificationService" />

        <activity
            android:name=".BottomNavigationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- Firebase Notifications -->
        <!-- ./Firebase Notifications -->

        <activity
            android:name=".ModelTestChooseActivity"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity
            android:name=".ModelTestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ModelTestResultShowActivity"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity
            android:name=".AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MonthWiseClassDataActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FeesAcitvity" />
        <activity
            android:name=".MarkSheetHomeActivity"
            android:label="@string/title_activity_mark_sheet_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MarksheetEditActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>