<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emon.haziraKhata">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="ANDROID.PERMISSION.INTERNET" />
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.emon.haziraKhata.HelperClasses.GlobalContext"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/main_icon_hd_half"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden|adjustPan">
        <activity
            android:name="com.emon.haziraKhata.home.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>

        <service
            android:name="com.emon.haziraKhata.service.GenericEventShowingService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.emon.haziraKhata.service.TimeChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_TIME_TICK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.emon.haziraKhata.service.AutoStartReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="500">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity> <!-- for FB LOGIN -->
        <activity
            android:name="com.emon.haziraKhata.Login.LoginActivity"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity
            android:name="com.emon.haziraKhata.WelcomeActivity"
            android:theme="@style/AppThemeForNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.emon.haziraKhata.home.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity
            android:name="com.emon.haziraKhata.AddEditClass.ClassAddActivity"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity
            android:name="com.emon.haziraKhata.ClassRoom.ClassRoomActivity"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity android:name="com.emon.haziraKhata.Attendance.AttendanceActivity" />
        <activity
            android:name="com.emon.haziraKhata.StudentListShowActivity"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity
            android:name="com.emon.haziraKhata.PrinterActivity"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity
            android:name="com.emon.haziraKhata.StudentAdd.StudentAddActivity"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity android:name="com.emon.haziraKhata.SingleStudentAllInformation.StudentAlIInfoShowActivity" />
        <activity
            android:name="com.emon.haziraKhata.NoteAddActivity"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity
            android:name="com.emon.haziraKhata.Widget.TextShowActivity"
            android:label=""
            android:theme="@style/style_for_text_content" />
        <activity
            android:name="com.emon.haziraKhata.PreviousQuestionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.emon.haziraKhata.Browsing.BrowsingActivity"
            android:theme="@style/AppTheme.NoActionBarForBrowser" />
        <activity android:name="com.emon.haziraKhata.BlogActivity" />
        <activity
            android:name="com.emon.haziraKhata.BottomNavigationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.emon.haziraKhata.ModelTestChooseActivity"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity
            android:name="com.emon.haziraKhata.ModelTestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.emon.haziraKhata.ModelTestResultShowActivity"
            android:theme="@style/AppThemeForNoActionBar" />
        <activity
            android:name="com.emon.haziraKhata.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.emon.haziraKhata.SignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.emon.haziraKhata.ResetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.emon.haziraKhata.MonthWiseClassDataActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.emon.haziraKhata.FeesAcitvity" />
        <activity
            android:name="com.emon.haziraKhata.MarkSheetHomeActivity"
            android:label="@string/title_activity_mark_sheet_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.emon.haziraKhata.MarksheetEditActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>